<article>
    <h2>New</h2>
    <ul>
        <li>
            <a href="#"><h3>Hydrogen VS Electric Cars</h3></a>
            <p>Will hdydrogen-fueled cars ever catch up to EVs?</p>
        </li>

        <li>
            <a href="#"><h3>The Downsides of AI Artistry</h3></a>
            <p>
                What are the possible adverse effects of on-demand AI image
                generation?
            </p>
        </li>

        <li>
            <a href="#"><h3>Is VC Funding Drying Up?</h3></a>
            <p>
                Privat funding by VC firms is down 50% YOY. We take a look at
                what that means.
            </p>
        </li>
    </ul>
</article>

<style>
    article {
        padding-inline: 1rem;
        padding-top: 1rem;

        background-color: var(--sec-dark-blue);
    }

    h2 {
        color: var(--pri-orange);
        font-size: 2rem;
    }
    h3 {
        font-size: 1.25rem;
        line-height: 1.8;
        transition: color 300ms ease-in-out;
    }
    li:hover h3 {
        color: var(--pri-orange);
    }

    li {
        list-style: none;
        color: var(--neutral-white);

        padding-block: 2rem;
        cursor: pointer;
        transition: box-shadow 300ms ease-in-out;
    }

    li:nth-child(2) {
        border-top: 1px solid var(--sec-dark-greyblue);
    }
    li:nth-child(3) {
        border-top: 1px solid var(--sec-dark-greyblue);
    }
</style>
